.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fffdf7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titre {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #e67e22;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}

.bouton {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.bouton:hover {
  background-color: #cf711f;
}